name: PR CI

on: [push, pull_request]

permissions:  # added using https://github.com/step-security/secure-repo
  contents: read

jobs:
  build:
    env:
      TAMAGO_VERSION: 1.25.0
      TAMAGO: /usr/local/tamago-go/bin/go
      LOG_ORIGIN: throwaway.transparency.dev/armored-witness-boot/pr-build/0
      LOG_PRIVATE_KEY: /tmp/log.sec
      LOG_PUBLIC_KEY: /tmp/log.pub
      OS_PRIVATE_KEY1: /tmp/os1.sec
      OS_PUBLIC_KEY1: /tmp/os1.pub
      OS_PRIVATE_KEY2: /tmp/os2.sec
      OS_PUBLIC_KEY2: /tmp/os2.pub
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: Install tools
      run: |
        wget -q https://github.com/usbarmory/tamago-go/releases/download/tamago-go${TAMAGO_VERSION}/tamago-go${TAMAGO_VERSION}.linux-amd64.tar.gz
        sudo tar -xf tamago-go${TAMAGO_VERSION}.linux-amd64.tar.gz -C /
    - name: Create throwaway keys
      run: |
        go run github.com/transparency-dev/serverless-log/cmd/generate_keys@HEAD --key_name="DEV-LOG" --out_priv=${LOG_PRIVATE_KEY} --out_pub=${LOG_PUBLIC_KEY}
        go run github.com/transparency-dev/serverless-log/cmd/generate_keys@HEAD --key_name="DEV-OS1" --out_priv=${OS_PRIVATE_KEY1} --out_pub=${OS_PUBLIC_KEY1}
        go run github.com/transparency-dev/serverless-log/cmd/generate_keys@HEAD --key_name="DEV-OS2" --out_priv=${OS_PRIVATE_KEY2} --out_pub=${OS_PUBLIC_KEY2}
    - name: Make
      run: |
        DEBUG=1 make
